:root {
    --color-white: #FFFFFF;
    --color-bg: #222222;
    --color-yellow: #AA7F05;
    --color-black: #000000;
    --color-gray: #2D2D2D;
    --color-gray2: #9B9B9B;

    --border: 10px solid var(--color-yellow);

    --transition-duration: 0.2s;
}